<div class="row">
  <div class="col-md-8">
    <table id="<%= dom_id task %>" class="table table-bordered">
      <tr>
        <th>Title:</th>
        <td><%= link_to_if params[:action] == "index", task.title, task %></td>
      </tr>
      <tr>
        <th>Description:</th>
        <td><%= task.description %></td>
      </tr>
      <tr>
        <th>Start time:</th>
        <td><%= l task.start_time, format: :long %></td>
      </tr>
      <tr>
        <th>End time:</th>
        <td><%= l task.end_time, format: :long if task.end_time.present? %></td>
      </tr>
      <tr>
        <th>Status:</th>
        <td><%= task.status_i18n %></td>
      </tr>
    </table>
  </div>
</div>

