<h1><%= t "activerecord.models.task" %>編集</h1>

<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered">
      <tr>
        <th><%= t "activerecord.attributes.task.title" %></th>
        <td><%= link_to_if params[:action] == "index", @task.title, @task %></td>
      </tr>
      <tr>
        <th><%= t "activerecord.attributes.task.description" %></th>
        <td><%= @task.description %></td>
      </tr>
      <tr>
        <th><%= t "activerecord.attributes.task.start_time" %></th>
        <td><%= l @task.start_time, format: :long %></td>
      </tr>
      <tr>
        <th><%= t "activerecord.attributes.task.end_time" %></th>
        <td><%= l @task.end_time, format: :long if @task.end_time.present? %></td>
      </tr>
    </table>

  </div>
</div>
<%= render "form", task: @task %>

<div class="d-flex">
  <%= link_to "#{ t "activerecord.models.task"}詳細", @task, class: "btn btn-primary me-2" %>
  <%= link_to "リストへ戻る", tasks_path, class: "btn btn-secondary me-2" %>
</div>
