<h1><%= t "activerecord.models.task" %>編集</h1>

<%= render @task %>
<%= render "form", task: @task %>

<div class="d-flex">
  <%= link_to "#{ t "activerecord.models.task"}詳細", @task, class: "btn btn-primary me-2" %>
  <%= link_to "リストへ戻る", tasks_path, class: "btn btn-secondary me-2" %>
</div>
