<h1><%= t "activerecord.models.task" %>詳細</h1>

<%= render @task %>

<div class="d-flex">
  <%= link_to "この#{ t "activerecord.models.task" }を編集", edit_task_path(@task), class: "btn btn-warning me-2" %>
  <%= link_to "リストへ戻る", tasks_path, class: "btn btn-secondary me-2" %>
  <%= button_to "この#{ t "activerecord.models.task" }を削除する", @task, method: :delete, class: "btn btn-danger me-2" %>
</div>
